.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 1000; /* Чтобы фон был под модалкой */
}
.modal {
    z-index: 1001; /* Модалка выше фона */
    top: 10%;
}
