.nav-link {
    transition: 0.8s ease;
    border-bottom: solid 3px transparent;
    color: #468966;
    font-size: 24px;
    padding: 0;
}

.menu-item-active {
    border-bottom: solid 3px #468966;
}
@media (max-width: 767.8px) {
    .nav-link {
        color: white !important; // Цвет ссылок в активном меню
    }
    .menu-item-active,
    .nav-link:hover {
        border-bottom: solid 3px white;
    }
}
