.header-navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.header-navbar a {
    color: #468966;
    text-decoration: none;
}

.header-navbar__btn {
    position: relative;
    width: 40px;
    height: 30px;

    cursor: pointer;
}

.header-navbar__btn span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    border-radius: 5px;
    background-color: #468966;
}

.header-navbar__btn span:nth-of-type(1) {
    top: 0;
}

.header-navbar__btn span:nth-of-type(2) {
    top: 12px;
}

.header-navbar__btn span:nth-of-type(3) {
    top: 24px;
}

.header-navbar__btn.active span:nth-of-type(1) {
    top: 12px;
    transform: rotate(135deg);
}

.header-navbar__btn.active span:nth-of-type(2) {
    left: -40px;
    opacity: 0;
}

.header-navbar__btn.active span:nth-of-type(3) {
    top: 12px;
    transform: rotate(-135deg);
}

.header-navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    padding: 15px;
}

.header-navbar__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 15px;

    list-style: none;
    text-align: right;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-navbar__contacts:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}

@media (max-width: 334.9px) {
    .header-navbar {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .header-navbar__contacts:nth-child(1),
    .header-navbar__contacts:nth-child(3) {
        display: none;
    }
}

@media (max-width: 767.8px) {
    .header-navbar {
        flex-direction: row-reverse;
    }

    .header-navbar__list {
        display: none;
    }

    .header-navbar__list.active {
        position: absolute;
        top: 100%;
        left: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #468966c4;
        color: white;
        box-shadow: -3px 3px 20px -10px #397054;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .header-navbar__contacts {
        font-size: 85%;
    }
}

@media (max-width: 899.9px) {
    .header-navbar__contacts {
        font-size: 90%;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .header-navbar__contacts {
        font-size: 90%;
    }
}

@media (min-width: 768px) {
    .header-navbar__btn {
        display: none;
    }
}
