/* footer */

.footer {
    padding: 20px 0;
    margin-top: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo a {
    display: flex;
    gap: 10px;
    align-items: center
}

.footer-logo a img {
    border-radius: 16px;
    width: 60px;
    height: 60px;
}

.footer-logo>span {
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 24px;
    text-align: center;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.phone,
.mail {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
}

.social-icons-block {
    display: flex;
    line-height: 20px;
}

.social-icons-link {
    font-size: 40px;
    padding: 0 10px;
}

.footer-address {
    text-align: center;
    margin: 10px;
}


.footer a {
    color: #fff;
}

/* end footer*/
@media(max-width: 767.8px) {



    /* footer - media */
    .footer .container {
        flex-direction: column;
        gap: 10px;
    }

    .footer-title {
        display: none;
    }

    /* end footer - media */
}