/* contact page */
.site-contact {
    display: flex;
    flex-direction: column;
}

.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 80px;
    padding: 20px;
    border-top: solid 1px #468966;
}

.contact-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    padding: 15px;
    overflow: hidden;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 0px 13px 0px #397054;
}


/* end contact page */
@media(max-width: 767.8px) {

    /* contact media */
    .contact-row {
        flex-direction: column;
        gap: 20px;
        border: none;
        padding-top: 0;
    }

    .contact-column {
        padding-top: 20px;
        border-top: solid 1px #468966;
    }

    /* end contact media */
}