/* main page */
#main-fon {
    background-image: url('../images/main/first.webp');
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 4% 0 7% 10%;
    font-size: 66px;
}


.lev-font-color {
    color: #468966 !important;
}


.title-main,
.title-children {
    padding: 5% 0 0 5%;
}


.title-main {
    font-size: 100%;
}

.title-children {
    font-size: 37px;
}

.consultation-appointment {
    margin: 6% 0 0 5%;
}

.modal-button-consulting {
    transform: scale(1);
    transition: transform 0.3s ease;
    padding: 20px;
    color: #174b23;
    font-size: 24px;
    border-radius: 16px;
}

.modal-button-consulting:hover {
    transform: scale(1.1);
    background-color: white;
    color: #174b23;
}

.consulting-submit-button {
    margin-top: 10px;
}

.about_us {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
}

.content-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0 30px 60px 30px;
}

.choose {
    flex-wrap: nowrap;
}

.content-block__bg {
    position: relative;
    background-image: url('../images/main/second.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 10;
    border-radius: 100px;
}

.content-block__bg:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #F2EFEB;
    z-index: 20;
    opacity: 0.6;
}

.content-block__title {
    position: relative;
    text-align: center;
    color: #174b23;
    font-size: 40px;
    margin: 20px;
    z-index: 30;
}

.content-block__item {
    width: 248px;
    background-color: #468966;
    color: white;
    border: #174b23 2px solid;
    border-radius: 15px;
    padding: 20px;
    z-index: 30;
    box-shadow: 4px 4px 10px 3px #397054;
}

.content-block__item-header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /* color: #174b23; */
}

.content-block__item-text {
    font-size: 20px;
    text-align: center;
}

/* end main page */
@media(max-width: 767.8px) {


    /* main - media */
    #main-fon {
        min-height: 7em;
        background-position: center;
        padding: 30px;
        text-align: left;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .title-main {
        font-size: 50%;
        padding: 6% 0 0 5%;
    }

    .title-children {
        font-size: 40%;
        padding: 6% 0 0 5%;
    }

    .content-block__bg {
        border-radius: 50px;
    }

    .content-block {
        flex-direction: column;
        margin: 0 5px 45px 5px;
    }

    .content-block__item {
        width: 100%;
    }

    .content-block__title {
        font-size: 2em;
    }

    .tf {
        text-align: justify;
        text-indent: 25px;
        font-size: 16px;
    }

    .modal-button-consulting {
        line-height: 25px;
        padding: 15px;
    }

    /* end main - media */
}