/* header */
.header-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 3px solid #468966;
    box-shadow:
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.header-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__link {
    display: block;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-logo__link:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}
