/* header */
.header-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 3px solid #468966;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.header-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__link {
    display: block;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-logo__link:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.header-navbar a {
    color: #468966;
}

.header-navbar__btn {
    position: relative;
    width: 40px;
    height: 30px;

    cursor: pointer;
}

.header-navbar__btn span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    border-radius: 5px;
    background-color: #468966;
}

.header-navbar__btn span:nth-of-type(1) {
    top: 0;
}

.header-navbar__btn span:nth-of-type(2) {
    top: 12px;
}

.header-navbar__btn span:nth-of-type(3) {
    top: 24px;
}

.header-navbar__btn.active span:nth-of-type(1) {
    top: 12px;
    transform: rotate(135deg);
}

.header-navbar__btn.active span:nth-of-type(2) {
    left: -40px;
    opacity: 0;
}

.header-navbar__btn.active span:nth-of-type(3) {
    top: 12px;
    transform: rotate(-135deg);
}

.header-navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    padding: 15px;
}

.nav-link {
    transition: 0.8s ease;
    border-bottom: solid 3px transparent;
    color: #468966 !important;
    font-size: 24px;
    padding: 0;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: solid 3px #468966;
}

.header-navbar__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 15px;

    list-style: none;
    text-align: right;
    box-shadow: -3px 3px 20px -10px #397054;
}

.header-navbar__contacts:hover {
    transform: scale(1.03) translateY(-0.5px);
    box-shadow: 3px 5px 10px 0px #397054;
}

/* end header */
@media (max-width: 334.9px) {
    .header-navbar {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .header-navbar__contacts:nth-child(1),
    .header-navbar__contacts:nth-child(3) {
        display: none;
    }
}

@media(max-width: 767.8px) {

    /* header - media */
    .header-navbar {
        flex-direction: row-reverse;
    }

    .header-navbar__list {
        display: none;
    }

    .header-navbar__list.active {
        position: absolute;
        top: 100%;
        left: 50%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #468966c4;
        color: white;
        box-shadow: -3px 3px 20px -10px #397054;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .nav-link {
        color: white !important;
    }

    .nav-link.active,
    .nav-link:hover {
        border-bottom: solid 3px white;
    }

    .header-navbar__contacts {
        font-size: 85%;
    }

    /* end header - media */
}

@media (max-width: 899.9px) {
    .header-navbar__contacts {
        font-size: 90%;
    }

}

@media (min-width: 900px) and (max-width: 1199px) {
    .header-navbar__contacts {
        font-size: 90%;
    }


}

@media (min-width: 768px) {
    .header-navbar__btn {
        display: none;
    }


}